<html> 
<head>
<title>Nearano.com find your nearby, start chat anonymously.</title>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<link rel="stylesheet" href="http://nearano.com/static/css/bootstrap.css">
<link rel="stylesheet" href="http://nearano.com/static/css/login.css">
</head>

<body>

	
	

<h1>Nearano.com</h1>
<h2>Find your nearby twitter users, follow or start chat anonymously.<br>We wanna only <b>"read"</b> permisson. </h2>

<a href="/auth" class="btn button btn-info">Sing in with twitter </a>







</body>
</html>





	
	